


.posts {
	display: flex;
	flex-direction: column;
	padding: 40px;
	a {
		color: $dark;
		width: 35%;
	}
}

.wholePost {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	width: 50%;
}
.postInfo {
	width: 65%;
	text-align: right;
	padding-right: 20px;
	border-right: 1px solid $dark;
}
.postImage {
	width: 100%;	
}
.wholePost:nth-of-type(2n){
	float: right;
	align-self: flex-end;
	width: 50.1%;
	.postInfo {
		order: -1;
		text-align: left;
		padding-left: 21px;
		border-left: 1px solid $dark;
		padding-right: 0px;
		border-right: none;
	}

}
.posts h2{
	font-size: 3rem;
}


//Single post
.posts h1 {
	font-size: 5rem;
	text-align: center;
	width: 50%;
	margin: 0 auto;
	
	color: $dark;
	&:after {
		content: '';
     	display: block;
      	height: 1px;
       	width: 40px;
       	background: $dark;
    	margin: 10px auto;
	}
}

.entry-content {
	p {
		padding: 10px 0px;
	}
	img {
		border-radius: 10px;
		margin: 20px auto;
		float: none;
	}
	h3 {
		padding: 20px 0px 10px;
	}
}

.entry-utility {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	a {
		width: auto;		
	}
	a, p {
		font-size: 1.4rem;
		font-family: $title;
	}

}










