footer {
	clear: both;
	
	background-image: url('http://unsplash.it/1200/600');
	color: $light;
}

footer.overlay {
	background: $transparent;
}

ul.footer-top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	padding: 30px 40px 0px;
	li.footer-widget {
		padding: 0px 10px;
		width: 25%;
		h3 {
			padding-bottom: 5px;
			font-family: $title;
			text-transform: uppercase;
			border-bottom: 1px solid $light;
			margin-bottom: 20px;
		}
		p, a {
			font-family: $paragraph;
			padding-bottom: 10px;
		}
		ul li {
			display: flex;
			flex-direction: column-reverse;
			a {
				font-size: 1.8rem;
			}
			span {
				font-size: 1rem;
				font-family: $title;
			}
		}
	}
}




.wpcf7-form-control-wrap input, input[type=submit], textarea{
	background: transparent;
	border: 1px solid $light;
	padding: 10px;
	color: $light;
	width: 98%;
	&:focus, &:active {
		outline: none;
		border: 1px solid #E3C2FF;
	}

}
input[type=submit], textarea{

	&:hover {
		background: #E3C2FF;
		color: $dark;
		// background: transparent;
		// color: $light;
	}
}





h3.insta-widget-title {
	display: none;
}

.pre-top{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;
	}

.footer-bottom {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	.copyright {
		color: $light;
		font-size: 1.2rem;
		
	}
	.love {
		color: $light;
		font-size: 1rem;
		padding-bottom: 15px;
	}
}

// overwriting Instagram default styling. 

#wdi_feed_0 .wdi_photo_wrap {
    padding: 0px !important; 
}

#wdi_feed_0 .wdi_photo_wrap_inner {
    border: none !important;
}

@media screen and (max-width: 1024px) and (min-width: 800px) {
#wdi_feed_0 .wdi_feed_item {
	width: 12.5% !important;
    }
}

@media screen and (max-width: 800px) and (min-width: 480px) {
	#wdi_feed_0 .wdi_feed_item {
    width: 12.5% !important;
	}
}

@media screen and (max-width: 480px) {
	#wdi_feed_0 .wdi_feed_item {
   	width: 12.5% !important;
	}
}

#wdi_feed_0 .wdi_feed_container {
    border-bottom: none !important;
}


   