.hero{
	// background-image: url("https://images.unsplash.com/photo-1453282716202-de94e528067c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=ac9b38e57a8a0724058cdcbe6a687aa8");
	background-size: cover;
	background-position: center;
	min-height: calc(100vh - 182px);
	color: $light;
	text-align: center;
	z-index: -1;
}

.hero-overlay {
	background: $transparent;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.heroContent {
	min-height: calc(100vh - 182px);
	background: transparent;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h2 {
		color: $light;
		font-size: 3rem;
		&::before {
		content: '';
     	display: block;
      	height: 1px;
       	width: 40px;
       	background: $light;
    	margin: 10px auto;
	}
	}
}

.frontPage {
	padding: 100px 60px 150px;
	background: $light;
	h2 {
		font-size: 3rem;
		padding-bottom: 5px;
		text-transform: uppercase;
		border-bottom: 1px solid $dark;
		margin-bottom: 40px;
	}
}

main.content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	> *{
		width: 30%;
	}
}

main.content p:first-child {
	display: none;
}

.frontPage main.content blockquote p {
	display: block;
}


